[submodule "src/multi_crane_cooperator/cpp_crane_sys/dependence/modbus_tcp_devices"]
	path = src/multi_crane_cooperator/cpp_crane_sys/dependence/modbus_tcp_devices
	url = https://github.com/HKCRC/modbus_tcp_devices.git
